<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emoji Chat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        .message-content-container {
            margin-top: 15px;
            position: relative;
            padding: 15px;
        }

        .user-message {
            display: flex;
            align-items: center;
        }

        .response-content {
            margin-top: 5px;
            padding: 10px;
            border-radius: 5px;
            background-color: #f0f0f0;
        }

        .message-content-container:hover {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="mt-5 text-center">Welcome to the Emoji Chat!</h1>
        <div id="chat" class="card mt-3">
            <div id="messages" class="card-body overflow-auto" style="height: 60vh;">
            </div>
            <div class="card-footer">
                <p class="text-muted text-center">Click on the message to view the decryption</p> <!-- 添加提示信息 -->
                <div class="d-flex">
                    <label for="messageText"></label><input id="messageText" type="text" class="form-control me-2"
                        placeholder="Type your message here..." maxlength="20">
                    <button class="btn btn-primary" onclick="sendMessage()">Send</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function setdefault_uid(uid){
            let uid = localStorage.getItem("uid");
            if (uid !== null){
                uid = uid+"#"+Math.random().toString().slice(2,8);
                localStorage.setItem("uid", uid)
            }
            return uid;
        }
    </script>

    <script>
        const room_id = "{{ room_id }}";
        console.log(">>> room_id: ", room_id)

        const apiHost = "localhost:8000";
        const ws = new WebSocket(`ws://${apiHost}/ws`);
        const emojis = ['😀', '😁', '😂', '😃', '😄', '😅', '😆', '😉', '😊', '😋', '😎', '😍', '😘', '😗', '😙', '😚', '😇', '😐', '😑', '😶', '😏', '😣', '😥', '😮', '😯', '😪', '😫', '😴', '😌', '😛', '😜', '😝', '😒', '😓', '😔', '😕', '😲', '😷', '😖', '😞', '😟', '😤', '😢', '😭', '😦', '😧', '😨', '😬', '😰', '😱', '😳', '😵', '😡', '😠'];
        const userEmoji = emojis[Math.floor(Math.random() * emojis.length)];
        const uid = setdefault_uid(userEmoji.codePointAt());
        const responseCache = {}; // 缓存API响应
        let canSendMessage = true; // 控制是否可以发送消息的标志

        ws.onmessage = function (event) {
            const { uid, msg } = JSON.parse(event.data);
            displayMessage(msg, uid);
        };

        document.getElementById("messageText").addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                sendMessage();
            }
        });

        async function loadMessage() {
            // 加载消息
            const response = await (await fetch(`http://${apiHost}/mesage/query?room_id=${room_id}`)).json();
            console.log(response)
            response.data.forEach(({ msg, uid }) => displayMessage(msg, uid))
        }

        function sendMessage() {
            if (!canSendMessage) {
                alert("You can only send one message every three seconds.");
                return;
            }

            const input = document.getElementById("messageText");
            const message = input.value;
            if (message.trim() !== "") {
                displayMessage(message, uid);
                let msg = {
                    "room_id": room_id,
                    "uid": uid,
                    "msg": message,
                }
                ws.send(JSON.stringify(msg));
                input.value = '';
                canSendMessage = false; // 设置不能发送消息
                setTimeout(() => canSendMessage = true, 3000); // 3秒后重新允许发送消息
            }
        }

        async function fetchApiResponse(message) {
            if (responseCache[message]) {
                return responseCache[message]; // 返回缓存的响应
            }

            const response = await fetch(`http://${apiHost}/api/decrypt`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ message: message })
            });
            const data = await response.json();
            responseCache[message] = data.response; // 缓存响应
            return data.response;
        }

        async function handleApiMessageClick(event) {
            const messageElement = event.currentTarget;
            const messageText = messageElement.querySelector('.text-content').textContent;

            if (messageElement.querySelector('.response-content')) {
                messageElement.querySelector('.response-content').remove();
            } else {
                const responseContent = await fetchApiResponse(messageText);

                const responseDiv = document.createElement('div');
                responseDiv.classList.add('response-content');
                responseDiv.textContent = responseContent;

                messageElement.appendChild(responseDiv);
            }
        }

        function displayMessage(message, from_uid) {
            const messages = document.getElementById('messages');
            const messageDiv = document.createElement('div');
            messageDiv.classList.add('d-flex', 'align-items-start', 'mb-3', 'user-message');

            const avatarDiv = document.createElement('div');
            avatarDiv.textContent = String.fromCodePoint(from_uid.split("#")[0]);
            avatarDiv.classList.add('avatar');
            avatarDiv.style.fontSize = '50px';
            avatarDiv.style.lineHeight = '50px';
            avatarDiv.style.marginRight = '10px';

            const messageContent = document.createElement('div');
            messageContent.classList.add('message-content-container', 'p-2', 'border', 'rounded');

            if (from_uid === uid) {
                messageDiv.classList.add('flex-row-reverse');
                messageContent.classList.add('bg-primary');
                messageContent.classList.add('text-white');
            } else {
                messageContent.classList.add('bg-light');
                messageContent.onclick = handleApiMessageClick; // 添加点击事件
            }

            const textContent = document.createElement('div');
            textContent.classList.add('text-content');
            textContent.textContent = message;

            messageContent.appendChild(textContent);
            messageContent.style.position = 'relative';

            messageDiv.appendChild(avatarDiv);
            messageDiv.appendChild(messageContent);
            messages.appendChild(messageDiv);
            messages.scrollTop = messages.scrollHeight;
        }

        loadMessage();

    </script>
</body>

</html>