<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link href="https://unpkg.com/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="container text-center">
        <h1>Welcome to the Emoji Chat!</h1>
        <button class="btn btn-primary mt-5 me-5" onclick="startNewChat()">New Room Chat</button>
        <a class="btn btn-primary mt-5 ms-5" href="/room" target="_blank">Join Room
            Chat</a>
    </div>

    <script src="/static/js/index.js"></script>
</body>

</html>
